{% extends "base.html" %}

{% block content %}
<div id="header">
    <h1>Another New Day</h1>
</div>
<div id="showcase">
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam posuere risus eget eros gravida egestas.
        Sed vulputate interdum nisl. Fusce nibh ligula, ultricies a, ultricies sit amet, bibendum vitae, orci.
    </p>
</div>
<div id="top"></div>
<div>
    <a href="/courses-list/?id={{id}}">назад</a>
</div>

<br>
<br>

<div>
    <h1>Создание курса для категории "{{name}}"</h1>
    <form method="post">
        <input type="text" name="name" placeholder="Название">
        <button type="submit">Сохранить и вернуться к списку курсов</button>
    </form>
</div>

</div>
{% endblock %}
