{% extends "base.html" %}

{% block content %}
<div id="header">
    <h1>Another New Day</h1>
</div>
<div id="showcase">
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam posuere risus eget eros gravida egestas.
        Sed vulputate interdum nisl. Fusce nibh ligula, ultricies a, ultricies sit amet, bibendum vitae, orci.
    </p>
</div>
<div id="top"></div>
<div id="text">
    <h1>After all, tomorrow is a new day</h1>
    <p>Очень много про нас(пока не придумал)</p>
    <p>Maecenas ut pede vel ipsum cursus mollis. Cum sociis natoque penatibus et magnis dis parturient montes,
        nascetur ridiculus mus. Duis sit amet odio eget urna blandit pellentesque. Ut interdum mi a est. Donec
        vestibulum massa vel nulla. Quisque eu mauris vitae orci mattis adipiscing. Sed eget urna. Mauris sit
        amet pede. Suspendisse eu tortor laoreet magna egestas faucibus. Duis vitae justo. Aenean ultricies.
        Mauris cursus.</p>
</div>

<h1>Список существующих категорий</h1>
{% for item in objects_list %}
<li>
    {{item.name}} <span>Количество курсов: {{item.course_count()}}</span>
    <a href="/course_list/?id={{item.id}}">Показать курсы</a>
</li>
{% endfor %}
</div>
{% endblock %}

